.adsList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap:10px;
  height: calc(100vh - 10px);
  padding: 0;

  li {
    list-style-type: none;
    padding: 5%;
    height: 100%;
  }
}