@import '../../../styles/variables.scss';

.singleAdWrapper {
  margin: 5% auto;
  background-color: $primary-color;
  max-width: 60%;
  min-width: 45%;
  border-radius: $border-radius;
  color: $secondary-color;
  font-family: $primary-font;
  font-weight: $font-weight-light;
  font-size: $title-font-size;
  line-height: $title-line-height;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
  word-wrap: break-word;
  padding-bottom: 50px;

  .adHeader {
    padding: 24px;

    h2 {
      margin: 0;
    }
  }


  .imageWrapper {
    display: flex;
    justify-content: center;
    padding: 30px;
    img {
      max-width: 80%;
      max-height: 800px;
    }
  }

  .adContent {
    padding: 24px;
    padding-bottom: 50px;
    overflow: hidden;
  }

  .sellerWrapper {
    display: flex;
    min-height: 100px;
    background-color: $light-background-color;
    margin: 0 24px;
    border-radius: $border-radius;
    align-items: center;
    padding: 0 2.5%;
    flex-wrap: wrap;

    img {
      height: 65px;
      width: 65px;
      border-radius: 50%;
  }
  span {
    padding: 0 2.5%;
    color: $dark-font;
    font-weight: $font-weight-medium;
  }
}
}