@import './variables.scss';

body {
  background-color: $light-background-color;
  font-family: $primary-font;

  .spinner {
    display: flex;
    justify-content: center;
  }

  .error-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
    font-family: $primary-font;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}