@import '../../../styles/variables.scss';

.formWrapper {
  margin: 100px auto;
  max-width: 30%;

  h2 {
    font-size: 1.75rem;
    font-weight: $font-weight-medium;
  }


  .form {
    display: flex;
    flex-direction: column;
  }
}